body{
    background-color: #31473A;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    text-align: center;
    font-family: 'Madimi One', sans-serif;
    padding: 5px 10px;
}

#head{
    color: white;
    background-color: #23342a;
    text-align: center;
    padding: 10px;
    font-family: Helvetica;
}

#text{
    color:#9aafa3;
    text-align: center;
    border-color: rgb(0, 0, 0);
    border: 200Px;
    font-size: 2em;
    font-family: Helvetica;
}

button{
    padding: 20px;
    background-color:#476553;
    color:rgb(255, 255, 255);
    text-align: center;
    font-size: 1.15em;
    font-family: Helvetica;
}

button:hover{
    background-color:#3c5848;
    color:#ffffff;
}

button:click{
    background-color:#293b31;
    color:rgb(0, 0, 0);
}


#num{
    font-size: 1em;
    text-align: center;
    font-family: Helvetica;
}
